<html>
  <body>
    <form method="POST" action="{{contents.customer_messages.public_submission_url}}">
      {% csrf_param %}
      <input type="hidden" value="/" name="success_callback"/>
      <input type="hidden" value="/contact" name="error_callback"/>
      
      {% if customer_message.errors %}
      <p>The following errors occured:</p>
      <ul>
        {% for error in customer_message.errors %}
        <li>{{error[0] | capitalize}} - {{error[1]}}</li>
        {% endfor %}
      </ul>
      {% endif %}

      <table>
        <tr>
          <td>Name:</td>
          <td><input type="text" name="content[name]" value="{{customer_message.name}}"></td>
        </tr>
        <tr>
          <td>Email:</td>
          <td><input type="text" name="content[email]" value="{{customer_message.email}}"></td>
        </tr>
        <tr>
          <td>Message:</td>
          <td><textarea name="content[message]">{{customer_message.message}}</textarea></td>
        </tr>
      </table>
      <input type="submit">
    </form>
  </body>
</html>

